<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contestant.age %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @contestant.occupation %>
</p>

<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
